# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.doccache
*.suo

# C++ / MSYS2
*.o
*.dll
*.exe
*.lib
*.a
*.log

# VS Code
.vscode/
.history/
CPP/build/
CPP/hystor/**/libvosk.dll
**/vosk_gpu_debug.log
test_run/
*.zip
*.tar.gz
SHARP/SAMPLES/deploy/
test_data/
**/*.html
CPP/hystor/3/build/
